body{
    background: url('/images/mainbackground.jpg') fixed center;     
    background-size: 100% 100%;       
}

.shadow{
    opacity: 0.5; 
    position: fixed; 
    width: 100%; 
    height: 100%; 
    background-color: #000000; 
    top: 0px; left: 0px;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate(0px, 0px);
    }
    50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translate(0px, -15px);
    }
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate(0px, 0px);
	}	
}

@keyframes floatHorizontal {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate(0px, 0px);
    }
    50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translate(-5px, 0px);
    }
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate(0px, 0px);
	}	
}

.floatingElement {
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    animation: float 6s infinite;
}

.floatingElement:hover {
	animation: floatHorizontal 1s infinite;
	text-decoration: underline;
}

.botones {
	color:white; font-weight: bold;
	background-color: #9649CB;
}

.botones:hover{
	color: #D4C2FC;
}



